html, body{
    margin:0;
    background-color: antiquewhite;
}

h1{
    position: relative;
    left:50%;
    margin-left:-140px;
}

img{
    position: relative;
    left:50%;
    margin-left: -208px;
    border: 1px solid black;
    border-radius: 10px;
}